@import "./fonts.css";

@import "./nullstyle.css";

@import "./variables.css";

@import "./typography.css";

@import "../css/ui-kit/button.css";
@import "../css/ui-kit/text-link.css";
@import "../css/ui-kit/card.css";
@import "../css/ui-kit/article.css";

@import "./components/header.css";
@import "./components/hero.css";
@import "./components/services.css";
@import "./components/clients.css";

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  z-index: -10001;
  transform: scale(0);
}
