@import "./fonts.css";

@import "./nullstyle.css";

@import "./variables.css";

@import "typography.css";
@import "../css/ui-kit/button-text.css";

@import "/css/ui-kit/button.css";

.container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
