:root {
  /*colors*/
  --background-color: #FFFFFF;
  --border-color: #E4E4E4;
  --border-form-color: #DADADA;
  --services-icon-color: #3172B9;
  --hover-services-icon-color: #FFFFFF;
  --hover-color: #71A7E2;
  --focus-color: #3172B9;
  --focus-border-color: var(--hover-color);
  --active-color: #0E3B6C;
  --disabled-color: #C4C4C4;
  /*text colors*/
  --dark-text-color: #1C1C1C;
  --light-text-color: #FFFFFF;
  --medium-text-color: #787878;
  /*services colors*/
}
