:root {
    /*colors*/
    --background-color: #fff;
    --border-color: #e4e4e4;
    --border-form-color: #dadada;
    --services-icon-color: #3172b9;
    --hover-services-icon-color: #fff;
    --hover-color: #71a7e2;
    --focus-color: #3172b9;
    --focus-border-color: var(--hover-color);
    --active-color: #0e3b6c;
    --disabled-color: #c4c4c4;
    /*text colors*/
    --dark-text-color: #1c1c1c;
    --light-text-color: #fff;
    --medium-text-color: #787878;
    /*services colors*/
}
