.article__link {
    display: flex;
    max-width: 570px;
}

.article {
    max-width: 570px;
}

.article__cover {
    max-width: 170px;
    border-radius: 5px 0 0 5px;
}

.article__content {
    display: flex;
    width: 100%;
    /*outline: 1px solid var(--border-color);*/
    padding: 23px 30px;
    border-width: 1px;
    border-left-width: 0;
    border-style: solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: var(--border-color);
    flex-direction: column;
    transition: all 0.4s;
    row-gap: 15px;
}

.article__name {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.article__content:focus {
    outline: none;
    border: transparent;
    background-color: var(--hover-color);
}

.article__content:focus .article__subtitle,
.article__content:focus .article__title,
.article__content:focus .article__text {
    color: var(--light-text-color)
}

@media (hover: hover) {
    .article__content:hover:not(:focus) {
        border-color: var(--focus-color);
        background-color: var(--focus-color);
    }
}

.article__content:hover:not(:focus) .article__subtitle,
.article__content:hover:not(:focus) .article__title,
.article__content:hover:not(:focus) .article__text {
    color: var(--light-text-color);
}

.article__content:active {
    border-color: var(--active-color);
    background-color: var(--active-color);
}

.article__content:active .article__subtitle,
.article__content:active .article__title,
.article__content:active .article__text {
    color: var(--light-text-color);
}

.article__subtitle {
    font-family: OpenSans, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%; /* 15px */
    color: var(--medium-text-color);
}

.article__title {
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%; /* 26px */
    color: var(--dark-text-color);
}

.article__text {
    max-width: 210px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
    color: var(--medium-text-color);
}
