
.card {
  display: flex;
  width: calc((100% - (var(--offsets) * var(--offset))) / (var(--offsets) + 1));
  padding: 61px 30px 62px 30px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
  row-gap: 15px;
}

.card__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.card__title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 130%;
  color: var(--dark-text-color);
}

.card__text {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
}

@media (hover: hover) {
  .card:hover:not(:focus) {
    border-color: var(--services-icon-color);
    background-color: var(--services-icon-color);
    cursor: pointer;
  }

  .card:hover .card__title,
  .card:hover .card__text {
    color: var(--light-text-color);
  }

  .card:hover svg path {
    fill: #fff;
  }
}

@media (max-width: 576px) {
  .card {
    padding: 15px 16px 36px 16px;
    row-gap: 3px;
  }

  .card__icon svg {
    max-width: 42px;
    max-height: 42px;
  }

  .card__text {
    font-size: 12px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__name {
    row-gap: 15px;
  }
}
