.join-us-form__checkbox {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

.join-us-form__checkbox + label {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  user-select: none;
}

.join-us-form__checkbox + label::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
  margin-right: 8px;
  flex-grow: 0;
  flex-shrink: 0;
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
}

.join-us-form__checkbox:checked + label::before {
  background-image: url("../../assets/images/checkbox.svg");
}

label a {
  padding-left: 4px;
  text-decoration-line: underline;
  color: var(--services-icon-color);
}
