.header {
  position: static;
  border-bottom: 1px solid var(--disabled-color);
  background-color: transparent;
}

.header__container {
  display: flex;
  padding-top: 44px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

.header__button {
  width: fit-content;
}

.header__main-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  column-gap: 52px;
}

.header__burger {
  display: none;
}

.header__main-menu-item {
  font-size: 15px;
  font-weight: 600;
  color: var(--dark-text-color);
}

@media (max-width: 1024px) {
  .header__burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--focus-color);
    border-radius: 3px;
    background-color: transparent;
  }

  .header__burger span {
    position: absolute;
    top: 18px;
    left: 9px;
    width: 20px;
    height: 2px;
    border: 1px solid var(--focus-color);
    border-radius: 3px;
    background-color: var(--focus-color);
  }

  .header__burger:before,
  .header__burger:after {
    position: absolute;
    left: 9px;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: var(--focus-color);
    content: '';
  }

  .header__burger:before {
    top: 12px;
  }

  .header__burger:after {
    bottom: 12px;
  }

  .header__main-menu-item {
    display: none;
  }

  .header__main-menu {
    align-items: center;
    column-gap: 20px;
  }

  .header__button {
    height: 40px;
  }

  .header__container {
    padding-top: 30px;
    padding-bottom: 20px;

  }

  .header__logo {
    width: 80px;
    height: 30px;
  }


}

@media (max-width: 576px) {
  .header__container {
    padding-top: 15px;
  }

  .header__main-menu {
    column-gap: 7px;
  }

  .header__button {
    width: 120px;
    height: 40px;
    white-space: nowrap;
  }

  .header__container {
    padding-bottom: 15px;
  }
}
