.join-us__container {
  padding: 87px 0 160px 0;
  border-bottom: 1px solid var(--disabled-color);
}

.join-us__title {
  margin-bottom: 22px;
  text-align: center;
  color: var(--dark-text-color);
}

.join-us__subtitle {
  font-size: 16px;
  text-align: center;
  line-height: normal;
}

.join-us-form__item {
  opacity: 0.6;
  width: 251px;
  border: 1px solid var(--border-form-color);
  border-radius: 50px;
}
