.services {
  border-bottom: 1px solid var(--disabled-color);
}

.services__container {
  padding: 87px 0 160px 0;
}

.services__title {
  margin-bottom: 21px;
  text-align: center;
  color: var(--dark-text-color);
}

.services__text {
  margin-bottom: 54px;
  font-size: 16px;
  text-align: center;
  color: var(--medium-text-color);
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--offset);
  --offset: 30px;
  --offsets: 3;
}

@media (max-width: 992px) {
  .services__cards {
    --offsets: 1;
  }

  .services__container {
    padding: 60px 0 140px 0;
  }
}

@media (max-width: 576px) {
  .services__cards {
    --offset: 16px;
  }

  .services__title {
    margin-bottom: 15px;
    text-align: left;
  }

  .services__text {
    margin-bottom: 15px;
    text-align: left;
  }
}

@media (max-width: 320px) {
  .services__cards {
    --offset: 16px;
  }
}
